ny_taxi_postgres_data/
data/*.csv
data/*.pdf
output.csv.gz
data_pgadmin/
data/*.json
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
NOTE.txt
*.ipynb