ny_taxi_postgres_data/

data/*.csv
data/*.pdf
data/yellow/*.parquet
data/fhv
data_pgadmin/
data/*.json
data/data/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

NOTE.txt
notebooks/
*.ipynb
*.gz
k8s.cfg

*__pycache__/

el_parent_gcs_to_bq-deployment.yaml
etl_parent_web_to_gcs-deployment.yaml

tmp/
serving_dir/
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
