ny_taxi_postgres_data/

data/*.csv
data/*.pdf
data/yellow/*.parquet
data_pgadmin/
data/*.json
data/data/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

NOTE.txt
*.ipynb
*.gz
k8s.cfg

*__pycache__/